*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}
#back{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}
#back img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#top{
    pointer-events: none;
    z-index: 1;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    /* background-color:black; */
}
#workingarea{
    position: relative;
    margin: 0 auto;
    width:80%;
    height: 100vh;
    max-width: 1920px;
    /* border: 1px solid white; */
}
#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}
#nav img {
   height: 60px;
}
#nleft ,#nright{
    display: flex;
    align-items: center;
    gap: 60px;
}
#nav a{
    pointer-events: all;
    color: white;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    width: 100%;
    /* height: 100px; */
    justify-content: space-between;
    transform: translate(0%,-50%);
    /* background-color: red; */
}


#heroleft{
    min-width: 50%;
    /* height: 100px; */
    /* background-color: yellow; */
}
#heroleft .elem{
    height: 9vw;
    position: relative;
    /* background: red; */
    overflow: hidden;
}
#heroleft .elem h1:nth-child(1) {
    top: 0;
}
     
    #heroleft .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 11vw;
}
#heroleft button{
    pointer-events: all;
    padding:.8vw 2vw ;
    font-size: 2vw;
    margin-top: 2vw;
    font-family: "kajiro";
}
#heroright{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 20%;
    /* height: 100px; */
    color: white;
    /* background-color: green; */
}
#heroright p{
    text-align: right;
    font-size: 14px;
    font-weight: 300;
}

#heroright #imagediv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: red;
}

#heroright p:nth-child(3){
    margin-bottom: 40px;
}